@font-face{
    font-family: "Consolas";
    src: url(../fonts/consolas.ttf);
}

*{
    font-family: "Consolas";
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    list-style-type: none;
}

body{ 
    background-color: #444;
    width: 400px;
    height: 300px;
}

::-webkit-scrollbar {
    width: 10px; 
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 5px;
}

.container{
    width: 350px;
    margin: auto;
}

.title{
    font-size: 24px;
    font-weight: 500;
    margin-top: 15px;
}

.url{
    display: block;
    width: 100%;
    margin-top: 15px;
    outline: none;
    background-color: #333;
    font-size: 16px;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}

.generateBtn{
    display: block;
    width: 125px;
    background-color: #333;
    text-decoration: none;
    text-align: center;
    padding: 12px 0;
    border-radius: 5px;
    margin: 15px auto 0 auto;
    font-size: 14px;
}

.imgQR{
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px auto 0 auto;
    transform: translateY(-15px);
    transition: 0.5s;
    transition-duration: 0.5s;
    opacity: 0;
}

.imgQR.active{
    opacity: 1;
    transform: translateY(0);
}

/* History */

.historyBtn{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: auto;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;    
    position: fixed;
}

.historyBtn > div{
    width: 30px;
    height: 30px;
    background-image: url(../image/history.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
}

.historyQR{
    padding: 15px 0;
    display: none;
}

.history-items{
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.history-items:last-child{
    margin-bottom: 0;
}

.history-content{
    display: flex;
}

.history-image{
    width: 100px;
    height: 100px;
}

.history-title{
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
    width: 200px;
    word-wrap: break-word;
}